body{
    background-color:#86a6cb;
    margin:0 ;
    font-family:arial,"microsoft yahei",sans-serif;
}
h1{
    background-color: #f4f4f4;
    color:rgb(13, 31, 120);
    text-align: center;
    padding: 20px;
}
nav{
    background-color:#031d49;
    padding: 10px;
}
nav a{
    color: #ffffff;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}
.daftar-produk{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 20px;
}
.produk{
    background-color: #557db5
    border 1px solid  #051031;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin: 0 10px 20px 10px;
    max-width: 300px;
}
.produk img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.produk h2{
    font-size: 20px;
    color: #304f7b;
}
.produk h3{
    font-size: 16px;
    color: #1F3A5F;
}
.harga{
    font-weight: bold;
    color: #0a1f44;
}
.deskripsi{
    font-size: 14px;
    color: #07070e;
}
.artikel {
          max-width: 700px;
          margin:auto
          padding 20px;
          background-color: #4e8ee8;
          font-family: 'Georgia',serif;
          line-height:  1.8;
}
.artikel  .penulis{
             font-style: italic;
             color: #C9A24D;
             margin-bottom: 20px;
}
.artikel .sampul{
         width: 180px;
         float: right;
         margin: 0 0 20px 20px;
         border: 1px solid #d4af37;
         box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
.artikel blockquote {
           font-style: italic;
           padding-left: 20px;
           margin: 20px 0;
           border-left: 4px #0a1f44;
           color: #1F3A5F;
           background-color: rgb(54, 147, 197);
}
.btn-kembali{
            display: inline-block;
            margin-top: 30px;
            padding: 10px 16px;
            background-color: #1a6cdf;
            color: #C9A24D;
            text-decoration: none;
            border-radius: 4px;
}
.btn-kembali:hover{
    background-color: #1a6cdf;
}
.formulir{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color:#1a6cdf ;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(63, 80, 235, 0.1);
}
form label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #1F3A5F;
}
form button{
    background-color: #C9A24D;
    color: #041a38;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #0a1f44;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #eeefff;
    line-height: 1.6;
}


body {
    font-family: sans-serif;
    background-color: #5d78ff;
    color: #fffcfc;
    padding: 40px;
    margin: 0;
}

